<h1 class="title">Riquelme y morticio</h1>

<div class="contenedor">
<div *ngFor="let personaje of personajes">
    <img  src={{personaje.image}}>
    <p >Id: {{personaje.id}}</p>
    <p >Nombre: {{personaje.name}}</p>
    <p >Estatus: {{personaje.status}}</p>
    <p >Especie: {{personaje.species}}</p>
</div>

</div>



