.title{
    color: #010108;
    text-align: center;
    font-size: 3rem;
    font-family: cursive;
}

.contenedor{
    column-count: 4;
    column-gap: 20px;
    text-align: justify;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}